<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ElementoMapper">

	<resultMap type='Elemento' id='ElementoResult'>
		<id property='id' column='id' />
		<result property='nombre' column='nombre'/>
		<result property='disponible' column='disponible' />
		<result property='tipo' column='tipo' />
		<result property='equipo' column='equipo' />
		<result property='fecha' column='fecha' />
		<result property='marca' column='marca' />
		<result property='estado' column='estado' />
	</resultMap>

	<insert parameterType="map" id="registrarElemento">
		INSERT INTO
		ELEMENTO
		(id,nombre,disponible, tipo, fecha, marca, estado)
		VALUES(#{id},#{nombre},#{disponible},#{tipo},#{fecha},#{marca},#{estado});
	</insert>
	<select id="consultarElemento" resultMap="ElementoResult">
		SELECT
		*
		FROM ELEMENTO
		ORDER BY fecha DESC
	</select>

	<update parameterType="map" id="registrarElementoAEquipo">
		UPDATE ELEMENTO SET
		EQUIPO=#{equipo}
		where id=#{idElemento}
	</update>

	<update parameterType="map" id="eliminarElemento">
		UPDATE ELEMENTO SET
		ESTADO=#{valor}
		WHERE
		id=#{id}
	</update>

	<select id="elementosSinEquipo" resultMap="ElementoResult">
		SELECT id, tipo
		FROM
		elemento
		WHERE equipo is null;

	</select>
	
	
	
	<select id="administraElemento" resultMap ="ElementoResult">
		SELECT
		*
		FROM ELEMENTO
		WHERE id=#{id}
	</select>

</mapper>

