<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ElementoMapper">

<resultMap type='Elemento' id='ElementoResult'>
	<id property='id' column='id'/>
	<result property='disponible' column='disponible'/>
	<result property='tipo' column='tipo'/>
	<result property='equipo' column='equipo'/>
</resultMap>
	<insert parameterType="map" id="registrarElemento" >
		INSERT INTO ELEMENTO (id,disponible, tipo) VALUES(#{id},#{disponible},#{tipo});
	</insert>
	<select id="consultarElemento" resultMap="ElementoResult">
		SELECT id,disponible,tipo,equipo
		FROM ELEMENTO
		ORDER BY id DESC
	</select>
	
	<update parameterType="map" id="registrarElementoAEquipo" >
		UPDATE ELEMENTO SET equipo=#{idEquipo}
		where id=#{id} 
	</update>
	
</mapper>

