<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.EquipoMapper">
 
 <resultMap type='Equipo' id='EquipoResult'>
 	<id property='id' column='id'/>
 	<result property='disponible' column='disponible'/>
 	<result property='fecha' column='fecha'/>
 	<result property='laboratorio' column='laboratorio'/>
 	<collection property="elementos" resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.ElementoMapper.ElementoResult"></collection>
</resultMap>
	
	<insert parameterType="map" id="registrarEquipo">
		INSERT INTO EQUIPO (id,disponible, fecha) VALUES(#{id},#{disponible},#{fecha});
	</insert>
	
	<select id="consultarEquipo" resultMap="EquipoResult">
		SELECT id, disponible,fecha,laboratorio
		FROM EQUIPO
		ORDER BY FECHA DESC;
	</select>
	
	<select id="equiposActivos" resultMap="EquipoResult">
		SELECT id,fecha
		FROM EQUIPO 
		WHERE disponible=#{valor};
	</select>
	
	<select id="EquiposSinElementos" resultMap="EquipoResult">
		SELECT id,fecha
		FROM EQUIPO 
		WHERE disponible=false;
	</select>
	
	
</mapper>
