<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.NovedadMapper">
<resultMap type='Novedad' id='NovedadResult'>
 	<id property='id' column='id'/>
 	<result property='fecha' column='fecha'/>
 	<result property='titulo' column='titulo'/>
 	<result property='usuario' column='usuario'/>
 	<result property='detalle' column='detalle'/>
 	<result property='equipo' column='equipo'/>
 	<result property='elemento' column='elemento'/>
</resultMap>
	
	<insert parameterType="map" id="registrarNovedad">
		INSERT INTO NOVEDAD VALUES(#{id},#{fecha},#{titulo},#{usuario},#{detalle},#{equipo},#{elemento});
	</insert>

		<select id="consultarNovedad" resultMap="NovedadResult">
		SELECT *
		FROM NOVEDAD
	</select>

</mapper>
  